body{
background-color: #87CEFA;
}

#welcome{
  color:red;
  text-align: center;
}
#intro,#projects,#now{

border: 25px solid green;
padding: 25px;
margin: 25px;
text-align: center;
}

#resim{
  width:100%;
}

.links{
border: 5px solid red;
padding: 2px;
margin: 2px;
}

.links:hover{
border: 8px solid #FFFF00;
padding: 2px;
margin: 2px;
}


@media screen and (max-width: 900px) {

  .links{
  border: 0px solid #87CEFA;
  display: block;
  float: center;
    /*text-align*/
  }

  .links:hover{
  border: 0px solid #87CEFA;
  display: block;
    float: center;
  /*text-align: center;*/
  }
}
